
div.git-explorer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.git-explorer a {
    text-decoration: none;
}

div.git-explorer div.git-explorer-header {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 1px solid #2D7091;
    border-bottom: none;
    background-color: #ebf7fd;
    border-radius: 4px 4px 0 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

div.git-explorer>div.git-explorer-frame {
    display: flex;
    align-items: stretch;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree {
    flex: none;
    width: 200px;
    border: 1px solid #2D7091;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree>div.git-explorer-tree {
    width: 100%;
    height: 400px;
    padding: 4px;
    overflow: scroll;
    box-sizing: border-box;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree>div.git-explorer-tree div.git-explorer-tree-item {
    margin: 4px 4px 4px 1em;
    white-space: nowrap;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-tree>div.git-explorer-tree>div.git-explorer-tree-item {
    margin-left: 4px;
}

div.git-explorer-tree-item>a {
    padding: 2px;
    border: 1px solid transparent;
}

div.git-explorer-tree-item a.git-explorer-tree-item-selected {
    background-color: #ebf7fd;
    border: 1px solid #2D7091;
    border-radius: 2px;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-resize {
    flex: none;
    width: 4px;
    border-bottom: 1px solid #2D7091;
    background-color: #ebf7fd;
    /* cursor: ew-resize; */
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code {
    flex: 1;
    border: 1px solid #2D7091;
}

div.git-explorer>div.git-explorer-frame>div.git-explorer-frame-code>pre {
    width: 100%;
    height: 400px;
    display: block;
    margin: 0;
    box-sizing: border-box;
    border: none;
    white-space: pre-wrap;
    overflow: scroll;
    tab-size: 4;
}