#
# supervisor template for nodejs
#

[program:itranswarp]

command      = /usr/lib/jvm/java-11-openjdk-amd64/bin/java -Xmx{{ xmx }}m -Xms{{ xmx }}m -jar itranswarp.jar
environment  = {% for k, v in env.items() %}{{ k }}="{{ v }}",{% endfor %}PROFILES="{{ profile }}"
directory    = /srv/itranswarp
user         = www-data
startsecs    = 10
startretries = 10

redirect_stderr         = true
stdout_logfile_maxbytes = 50MB
stdout_logfile_backups  = 10
stdout_logfile          = /var/log/supervisor/itranswarp.log
