{% extends '_base.html' %}

<!-- display sidebar on right -->
{% set __sidebar_right__ = true %}

{% block nav %}
    /single/{{ singlePage.id }}"
{% endblock %}

{% block title %}{{ webpage.name }}{% endblock %}

{% block head %}

<style>
.x-webpage-visible {
    display: block;
}
</style>

{% endblock %}

{% block content %}
    <h3>{{ singlePage.name }}</h3>
    <div class="x-page-content x-content">
        {{ content|raw }}
    </div>
{% endblock %}

{% block sidebar_right_content %}

{% endblock %}
