{% extends '../_manage.html' %}

{% block title %} {{ _('Search Status') }} {% endblock %}

{% block head %}
<script>

$(function () {
	$('#btnReindex').click(function () {
		UIkit.modal.confirm('Are you sure you want to reindex all documents?', function () {
			var modal = UIkit.modal('#modalIndexing', {bgclose: false, keyboard: false});
			modal.show();
			postJSON('/api/search/reindex', {}, function (err, resp) {
				modal.hide();
				if (err) {
					return showError(err);
				}
			});
		});
	});
});

</script>
{% endblock %}

{% block main %}

	<div id="modalIndexing" class="uk-modal">
		<div class="uk-modal-dialog">
			<p><i class="uk-icon-spinner uk-icon-spin"></i> Indexing... Please wait...</p>
		</div>
	</div>

    <div class="uk-width-1-1">

        <h3>Search Engine</h3>

        <p>Provider: {{ searchEngineName }}</p>
        <p>Ready: {{ searchReady }}</p>

    {% if searchReady %}

        <form method="get" target="_blank" action="/search" class="uk-form uk-form-stacked uk-margin">
            <legend>Search</legend>
            <fieldset>
                <div class="uk-form-row">
                    <label class="uk-form-label">{{ _('Keyword') }}:</label>
                    <div class="uk-form-controls">
						<div class="uk-form-icon">
							<i class="uk-icon-search"></i>
							<input name="q" type="text" maxlength="50" class="uk-form-width-large" placeholder="keyword">
						</div>
                    </div>
                </div>
                <div class="uk-form-row">
                    <div class="uk-form-controls">
						<button type="submit" class="uk-button uk-button-primary">Search</button>
                    </div>
                </div>
            </fieldset>
        </form>

		<h3 class="uk-text-danger">DANGER ZONE</h3>

		<div class="uk-alert uk-alert-danger">
			<p>You can reindex all documents. It may take several minutes.</p>
	    	<p><button id="btnReindex" class="uk-button uk-button-danger">Reindex All Documents</button></p>
	    </div>

    {% else %}

    	<p>Search engine is auto-enabled if RediSearch is available in Redis. <a target="_blank" href="https://redis.io/docs/stack/search/">Learn how to integrate RediSearch.</a></p>

    {% endif %}

    </div>

{% endblock %}
